body.woocommerce-account{
    .entry-header{
        display: none;
    }
}

.myAccount{
    min-height: 60vh;
    padding-top: 50px;

    .accountTitle{
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        margin: 0 0 50px;
        color: #000;
    }
    &__wrap{
        display: flex;
        flex-direction: row;
    }
    &__nav{
        width: 360px;
        margin-right: 25px;

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            border: 1px solid rgba(0,0,0,0.1);

            li{
                background-color: #fff;
                height: 38px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                transition: ease .3s;

                a{
                    display: block;
                    padding: 0 14px;
                    font-size: 14px;
                    line-height: 38px;
                    font-weight: 300;
                    color: #3a3a3a;
                }

                &.is-active,
                &:hover{
                    background-color: #fbfbfb;

                    a{
                        color: #3a3a3a;
                    }
                }

                &:last-of-type{
                    border-bottom: 0;
                }
            }
        }
    }
    &__content{
        width: calc(100% - 385px);

        .gens-raf-message.gens-raf__url,
        .gens-referral_share__email{
            display: none !important;
        }
        p{
            font-size: 14px;
            line-height: 19px;
            color: #000;
            margin: 0 0 15px;

            mark{
                background: unset;
                border-bottom: 1px solid #4bc884;
                color: #000;
            }
        }
        a{
            color: #44c680;
        }

        .addresses{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .woocommerce-Address,
            .woocommerce-column{
                width: calc(100% / 2 - 15px);
                border: 1px solid #e5e5e5;
                
                .woocommerce-column__title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 60px;
                    justify-content: space-between;
                    padding: 0 25px;
                    margin: 0;
                    background-color: #fbfbfb;
                    border-bottom: 1px solid #e5e5e5;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 400;
                    color: #000;
                    margin: 0;
                }

                .title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 60px;
                    justify-content: space-between;
                    padding: 0 25px;
                    background-color: #fbfbfb;
                    border-bottom: 1px solid #e5e5e5;

                    h3{
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 400;
                        color: #000;
                        margin: 0;
                    }
                    a{
                        font-size: 14px;
                        font-weight: 300;
                        color: #000;
                        margin: 0;

                        &:hover{
                            opacity: .8;
                        }
                    }
                }
                address{
                    padding: 14px;
                    font-family: "Mont";
                    font-style: unset;
                    font-size: 14px;
                    font-weight: 300;
                    margin: 0;
                }
            }
        }
        .woocommerce-MyAccount-orders{
            thead{
                tr{
                    th{
                        font-size: 14px;
                        border-bottom: 1px solid rgba(0,0,0,0.1);
                        padding: 0;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        font-size: 14px;
                        border-bottom: 1px solid rgba(0,0,0,0.1);
                        padding: 0;

                        &.woocommerce-orders-table__cell-order-actions{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }
        }
        .woocommerce-order-details{
            &>h2{
                font-size: 21px;
                line-height: 26px;
                font-weight: 400;
                margin: 20px ​0 15px; 
            }
            table{
                thead{
                    tr{
                        th{
                            font-family: "Mont";
                            font-size: 14px;
                            font-weight: 400;
                            margin: 0;
                            text-align: left;
                            border-bottom: 1px solid rgba(0,0,0,0.1);
                            height: 50px;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            font-family: "Mont";
                            font-size: 14px;
                            font-weight: 300;
                            margin: 0;
                            text-align: left;
                            border-bottom: 1px solid rgba(0,0,0,0.1);
                            height: 50px;

                            .wc-item-meta{
                                display: none;
                            }
                            .amount{
                                font-weight: 400;
                                
                                span{
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                tfoot{
                    tr{
                        th{
                            font-family: "Mont";
                            font-size: 14px;
                            font-weight: 400;
                            margin: 0;
                            text-align: left;
                            border-bottom: 1px solid rgba(0,0,0,0.1);
                            height: 50px;
                        }
                        td{
                            font-family: "Mont";
                            font-size: 14px;
                            font-weight: 300;
                            margin: 0;
                            text-align: left;
                            border-bottom: 1px solid rgba(0,0,0,0.1);
                            height: 50px;

                            .amount{
                                font-weight: 400;

                                span{
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
        .edit-account{
            .woocommerce-form-row{
                display: flex;
                flex-direction: column;

                &--first{
                    width: calc(100% / 2 - 15px);
                    float: left;
                }
                &--last{
                    width: calc(100% / 2 - 15px);
                    float: right;
                }
                &--wide{
                    width: 100%;
                }

                label{
                    font-size: 14px;
                    font-weight: 300;
                    margin: 0 0 5px;

                    .required{
                        text-decoration: none;
                        cursor: auto;
                    }
                }
                input{
                    width: 100%;
                    height: 40px;
                    border-radius: 0;
                    font-size: 14px;
                    padding: 0 14px;
                }
            }
            legend{
                display: block;
                font-size: 16px;
                font-weight: 400;
                margin: 40px 0 20px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
            }
            .button{
                display: inline-block;
                align-items: center;
                justify-content: center;
                height: 35px;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
                background-color: #44c680;
                color: #fff;
                border: 0;
                border-radius: 50px;
                text-align: center;
                text-decoration: none;
                padding: 0 23px;
                cursor: pointer;
                transition: ease .3s;

                &:hover{
                    opacity: .8;
                }
            }
        }
        form{
            h3{
                font-size: 21px;
                line-height: 26px;
                font-weight: 400;
                margin: 0 0 25px;
            }
        }
        .woocommerce-address-fields{
            .form-row{
                display: flex;
                flex-direction: column;

                &--first{
                    width: calc(100% / 2 - 15px);
                    float: left;
                }
                &--last{
                    width: calc(100% / 2 - 15px);
                    float: right;
                }
                &--wide{
                    width: 100%;
                }

                label{
                    font-size: 14px;
                    font-weight: 300;
                    margin: 0 0 5px;

                    .required{
                        text-decoration: none;
                        cursor: auto;
                    }
                }
                input{
                    width: 100%;
                    height: 40px;
                    border-radius: 0;
                    font-size: 14px;
                    padding: 0 14px;
                }
            }
            .button{
                display: inline-block;
                align-items: center;
                justify-content: center;
                height: 35px;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
                background-color: #44c680;
                color: #fff;
                border: 0;
                border-radius: 50px;
                text-align: center;
                text-decoration: none;
                padding: 0 23px;
                cursor: pointer;
                transition: ease .3s;

                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}
@media (max-width: 991px){
    .myAccount{
        &__wrap{
            flex-direction: column;
        }
        &__nav{
            width: 100%;
            margin: 0 0 30px;
        }
        &__content{
            width: 100%;
        }
    }
}
@media (max-width: 767px){
    .myAccount{
        &__content{

            .woocommerce-MyAccount-orders{
                tbody{
                    tr{
                        margin-bottom: 30px;

                        td.woocommerce-orders-table__cell-order-actions{
                            flex-direction: row;
                            justify-content: center;
                            padding: 10px 0 30px;
                            border-bottom: 0;

                            &:before{
                                display: none;
                            }
                            a{
                                padding: 0 5px;
                            }
                        }
                    }
                }
            }
            .addresses{
                flex-direction: column;

                .woocommerce-Address{
                    width: 100%;
                    margin-bottom: 30px;

                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/**
 *  Lost password page
 */

body.woocommerce-lost-password,
body.woocommerce-account{
    .woocommerce-message{
        max-width: 1000px;
        margin: 90px auto 0;
        border-radius: 5px;
        color: #fff;
        padding: 10px 15px;
    }
    .woocommerce-notices-wrapper{
        display: block !important;

        .woocommerce-error{
            max-width: 1000px;
            margin: 90px auto 0;
            border-radius: 5px;
            color: #fff;
            padding: 10px 15px;
            list-style: none;

            a{
                color: #fff;
                font-weight: 500;
                text-decoration: underline;
                cursor: pointer;
                transition: ease .3s;

                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}
.lostPassPage{
    padding: 80px 0;

    &__heading{
        font-size: 30px;
        line-height: 36px;
        color: #000;
        font-weight: 500;
        text-align: center;
        margin: 0 0 20px;
    }
    &__form{
        max-width: 600px;
        padding: 0 20px;
        margin: 0 auto;

        p{
            font-size: 14px;
            line-height: 20px;
            color: #000;
            text-align: center;
            margin: 0 0 20px;
        }
        input[name="user_login"]{
            max-width: 320px;
            width: 100%;
            height: 45px;
            font-size: 14px;
            color: #000;
            border: 1px solid #838383;
            background-color: #fff;
            border-radius: 0;
            text-align: center;
            transition: ease .3s;
            outline: none;

            &::placeholder{
                color: #838383;
            }

            &:focus{
                border-color: #000;
            }
        }
        button.button{
            padding: 0 20px;
            height: 45px;
            background-color: #44c680;
            border: 0;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            border-radius: 25px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            outline: none;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
    }
}

.lostPassConfirmation{
    padding: 40px 20px 80px;

    p{
        font-size: 14px;
        line-height: 20px;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
}

.lostPassReset{
    padding: 80px 0;

    &__heading{
        font-size: 30px;
        line-height: 36px;
        color: #000;
        font-weight: 500;
        text-align: center;
        margin: 0 0 20px;
    }

    &__form{
        max-width: 600px;
        padding: 0 20px;
        margin: 0 auto;

        p{
            font-size: 14px;
            line-height: 20px;
            color: #000;
            text-align: center;
            margin: 0 0 20px;

            &.woocommerce-form-row{
                margin: 0 0 10px;

                .woocommerce-password-strength{
                    text-align: center;
                    margin-top: 10px;
                    font-weight: 400;
                    background: #f77e63;
                    padding: 5px 10px;
                    color: #fff;
                    border-radius: 5px;
                    max-width: 320px;
                    margin: 10px auto;
                    font-size: 12px;
                    line-height: 16px;

                    &.bad{
                        background: #f77e63;
                    }
                    &.good{
                        background: #f7ae41;
                    }
                    &.strong{
                        background: #44c680;
                    }
                }
                .woocommerce-password-hint{
                    font-size: 10px;
                    line-height: 14px;
                    display: block;
                    text-align: center;
                    max-width: 320px;
                    margin: 0 auto;
                }
            }
        }
        input{
            max-width: 320px;
            width: 100%;
            height: 45px;
            font-size: 14px;
            color: #000;
            border: 1px solid #838383;
            background-color: #fff;
            border-radius: 0;
            text-align: center;
            transition: ease .3s;
            outline: none;

            &::placeholder{
                color: #838383;
            }

            &:focus{
                border-color: #000;
            }
        }
        button.button{
            padding: 0 20px;
            height: 45px;
            background-color: #44c680;
            border: 0;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            border-radius: 25px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            outline: none;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
    }
}