.logosList{
    padding: 25px 0;
    background-color: #f7f6f4;

    &__list{
        display: flex;
        justify-content: center;
    }
    &__logo{
        width: fit-content;
        text-align: center;
        max-height: 40px;
        opacity: .7;

        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}
@media (max-width: 1199px){
    .logosList{
        &__logo{
            img{
                max-width: 90%;
            }
        }
    }
}
@media (max-width: 768px){
    .logosList{
        &__list{
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        &__logo{
            width: 100% !important;
            max-width: 160px;
            height: 40px;
            margin: 10px;

            img{
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }
}